<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Team: World Connection</title>
  <link rel="stylesheet" type="text/css" href="style.css">
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
</head>
<body>
<!-- Page Content -->

<div class="jumbotron text-center">
  <h1>Refugee Movement Overtime</h1>
  <p>Erin, Sruthi, JD, Megan, Sirishk</p> 
</div>

<div class="container">

  <!-- Portfolio Item Heading -->
  <!--<h1 class="my-4">Page Heading -->
    <small>Overview</small>
  </h1>

  <!-- Portfolio Item Row --> 
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="" style="width:750px;height:500px;">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>The UN estimates 65.6 million people displaced globally by conflict. Since 1951, the UN has kept statistics on refugee movement. Using a UN-refugee dataset from dataword that will be stored in a SQL database. </p>
      <h3 class="my-3">Goals</h3>
	  <p>We want to visualize the movement of refugees across specific regions by using an interactive chart. The chart will display human migration.  </p>
	  <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Heatmap (of refugees to/from country)</li>
        <li>Slide date function for years</li>
        <li>Flight Path Map</li>
        <li>Adipiscing Elit</li>
      </ul>
	  <h3 class="my-3">Tools</h3>
	  <ul>
        <li>Chartjs</li>
        <li>Amcharts</li>
      </ul>
    </div>

  </div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
		<div class="col-md-5">
				<a href="chart1.html"> <!--Link Html-->
            <img class="img-fluid" src="chart1.png" alt="Line Graph" style="width:500px;height:300px;"> <!--place image of visualization-->
          </a>
		</div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
		<div class="col-md-5">
				<a href="chart2.html"> <!--Link Html-->
            <img class="img-fluid" src="chart2.png" alt="Chord Chart" style="width:500px;height:300px;"> <!--place image of visualization  use alt for title description-->
          </a>
		</div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
		<div class="col-md-5">
				<a href="map.html"> <!--Link Html-->
            <img class="img-fluid" src="http://placehold.it/500x300" alt="Flight Map" style="width:500px;height:600px;"> <!--place image of visualization-->
          </a>
		</div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->
</body>
</html>